<p><strong>Applicant:</strong> <%= application.user.name %></p>

<p><strong>Previous Role:</strong> <%= application.previous_job %></p>

<p><strong>Previous Experience:</strong> <%= application.previous_experience %></p>

<p><strong>Years Experience:</strong> <%= application.years_experience %></p>    

<p><strong>Cover Letter:</strong> <%= application.cover_letter %></p>  

<p><strong>Date Available:</strong> <%= application.date_available.strftime("%m/%d/%Y") %></p> 