<h6>
    <strong>Applicant:</strong>
</h6> 
<p>
    <%= application.user.name %></p>
</p>

<h6>
    <strong>Previous Role:</strong> 
</h6>
<p>
    <%= application.previous_job %>
</p>

<h6>
    <strong>Previous Experience:</strong> 
</h6>
<p>
    <%= application.previous_experience %>
</p>

<h6>
    <strong>Years Experience:</strong> 
</h6>
<p>
    <%= application.years_experience %>
</p>

<h6>
    <strong>Cover Letter:</strong> 
</h6>
<p>
    <%= application.cover_letter %>
</p>

<h6>
    <strong>Date Available:</strong> 
</h6>
<p>
    <%= application.date_available.strftime("%m/%d/%Y") %>
</p>