<div class="card bg-light py-2 ps-3">
    <h1 class="display-5">Application for <%= application.job.title %></h1><br>
    <div>
        <h5 class="lead"><strong>Employer</strong>: <%= application.job.user.name %></h5>
        <h5 class="lead"><strong>Location:</strong> <%= application.job.location.city %></h5>
        <h5 class="lead"><strong>Submition Date:</strong> <%= created_date(application) %></h5>
        <h5 class="lead"><strong>Status:</strong> <%= application.status %></h5>
    </div>
</div>