<h1>Application for <%= application.job.title %></h1><br>
<div>
    <h5>Employer: <%= application.job.user.name %></h5>
    <h5>Location: <%= application.job.location.city %></h5>
    <h5>Submition Date: <%= created_date(application) %></h5>
    <h5>Status: <%= application.status %></h5>
</div>