<div class="container-fluid" style="width: 50%">
    <div>
        <h1><%= @job.title %></h1>
        <h5>Posted by <%= @job.user.name %></h5>
        <h5>Located in <%= @job.location.city %></h5>
    </div>
    <br>

    <%= user_controls(@job) %>

    <div>
        <h5>Job Description:</h5>
        <p><%= simple_format(@job.description) %></p>  
    </div>
</div>