<div class="container-fluid" style="width: 50%">
    <div class="card py-2 ps-3 bg-light">
        <h1 class="display-5"><%= @job.title %></h1>
        <h2 class="lead">Posted by <%= link_to @job.user.name, user_path(@job.user) %></h2>
        <h2 class="lead">Located in <%= link_to @job.location.city, location_jobs_path(@job.location) %></h2>
    </div>
    <br>

    <%= user_controls(@job) %>
    <br><br>

    <div>
        <h5 class="lead">Job Description:</h5>
        <p><%= simple_format(@job.description) %></p>  
    </div>
</div>