<div class="container-fluid" style="width: 50%">
    <h1><%= @job.title %></h1>
    <h4>Posted by: <%= @job.users.where(employer: true).first.email %></h4><br>

    <p>
        <strong>Location:</strong> <%= @job.location.city %>
    </p>

    <p>
        <strong>Description:</strong> <%= @job.description %>
    </p>

    <p>
        <strong>Payment:</strong> <%= @job.pay %>
    </p>    
</div>