<div class="container-fluid" style="width: 50%">
    <h1><%= @job.title %></h1>
    <h5>Posted by: <%= @job.user.email %></h5>
    <br>
    <% if current_user == @job.user %>
        <div class="btn-group">
            <%= link_to "Review Applications", job_applications_path(@job), class: "btn btn-outline-primary" %>
            <%= link_to "Edit Job", edit_location_job_path(@job.location, @job), class: "btn btn-outline-primary" %>
            <%= link_to "Delete Job", location_job_path(@job.location, @job), method: :delete, class: "btn btn-outline-primary" %>
        </div>
    <% end %>
    
    <%= link_to "Apply to #{@job.title}", new_job_application_path(@job), class: "btn btn-outline-primary" if current_user != @job.user %>
    


    <br><br>
    <div>
        <p>
            <strong>Location:</strong> <%= @job.location.city %>
        </p>

        <p>
            <strong>Description:</strong> <%= @job.description %>
        </p>  
    </div>
</div>