<div class="mb-3">
    <%= render "devise/shared/error_messages", resource: job %>
</div>

<div class="mb-3">
    <%= f.label :title, class: "form-label" %>
    <%= f.text_field :title, class: "form-control" %>
</div>

<div class="mb-3">
    <%= f.label :description, class: "form-label" %>
    <%= f.text_area :description, class: "form-control" %>
</div>