<!DOCTYPE html>
<html>
  <head>
    <title>JobFinder</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

  </head>

  <body class="container-fluid">
    <div>
      <nav class="container-fluid nav nav-tabs justify-content-center">
        <% if current_user %>
          <%= link_to "Dev Finder", root_url, class: "btn nav-link", style: "font-weight: bold;" %>
          <%= link_to "All Jobs", jobs_url, class: "btn nav-link" %>
          <%= link_to "Locations", locations_path, class: "btn nav-link" %>
          <%= link_to "Post New Job", new_job_path, class: "btn nav-link" if current_user.employer %>
          <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "btn nav-link" %>
        <% else %>  
          <%= link_to "Dev Finder", root_url, class: "btn nav-link", style: "font-weight: bold;" %>
          <%= link_to "Sign Up", new_user_registration_path, class: "btn nav-link" unless request.env["PATH_INFO"].include?("sign") %>
          <%= link_to "Log In", new_user_session_path, class: "btn nav-link" unless request.env["PATH_INFO"].include?("sign") %>
        <% end %>
      </nav>
      <% unless !current_user %>
        <p class="float-end px-3">Signed in as <%= current_user.name.nil? ? current_user.email : current_user.name %></p>
      <% end %>
    </div>
    
    <%= yield %>
  </body>
</html>
