<!DOCTYPE html>
<html>
  <head>
    <title>DevFinder</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  </head>

  <body class="container-fluid justify-content-center">
    <div>
      <nav class="container-fluid nav nav-tabs bg-dark justify-content-center">
        <%= nav_links %>
      </nav>
      <br>
      
      <%= user_detail %>

    </div>
    <br>
    <%= flash_errors %>
    
    <%= yield %>
    
  </body>
</html>
